version: '3.8'

services:
  astro-app:
    image: huilu/astro-project:latest
    container_name: airflow-01-news-project
    # 强制手动按顺序执行，每一行都加了 || true 确保不会因为“已存在”而中断
    command: >
      bash -c "
      airflow db migrate &&
      airflow roles create Admin || true &&
      airflow users create --username admin --password admin --firstname admin --lastname admin --role Admin --email admin@example.com || true &&
      (airflow webserver & airflow scheduler)
      "
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - CLICKHOUSE_HOST=clickhouse-server 
      - CLICKHOUSE_PORT=8123
      # 显式禁用一些可能冲突的 Astro 插件
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=sqlite:////usr/local/airflow/airflow.db
    ports:
      - "8080:8080"
    networks:
      - shared-clickhouse-network
    restart: always

networks:
  shared-clickhouse-network:
    external: true